/* About.module.css */
.aboutContainer {
    text-align: center;
    padding: 40px 20px;
}

.aboutText {
    font-size: 1.3rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .aboutText {
        font-size: 16px;
        padding: 0 20px;
    }
}